// Codes By Mahdi Tasha
@use "../global";

.second-sect {
  margin-bottom: 6rem;

  &__inner {
    position: relative;
    max-width: 1000px;
    margin-inline: auto;
    padding: 2rem;
    background-image: url(/assets/base/img/second-section/img-bg.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    overflow: hidden;
  }

  &__top {
    display: flex;
    align-items: start;
    margin-bottom: 3rem;
  }

  &__top-title {
    margin-top: 2rem;
  }

  &__bottom-title {
    margin-bottom: 2rem;
  }

  &__top-title,
  &__bottom-title{
    @include global.subtitle-styles(24px);
  }

  &__top-paragraph,
  &__bottom-paragraph{
    @include global.paragraph-styles(16px);
  }

  &__middle {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__middle-title {
    @include global.titles-styles(28px);
    margin: 0;
    line-height: normal;
  }

  &__middle-link {
    @include global.primary-link-styles;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    >  li:nth-of-type(2) {
      margin-inline: 20px;
    }
  }
}