// Codes By Mahdi Tasha
@use "../../global";

.header {
  &__inner {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__list {
    display: flex;
    align-items: center;

    > .header__list-item {
      > a {
        color: white;
        font-weight: 500;
        font-size: 18px;
      }

      &:not(:last-of-type) {
        margin-right: 46px;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    font-weight: 800;
    font-size: 18px;
    color: white;
  }

  &__right {
    display: flex;

    > a {
      display: block;

      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }

  &__sign-in-btn, &__sign-up-btn {
    padding-inline: 1.5rem;
    padding-block: .5rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  &__sign-in-btn {
    background-color: global.$orange;
  }

  &__sign-up-btn {
    background-color: transparent;
  }
}