// Codes By Mahdi Tasha

// Variables
$orange: #FF4820;
$darker-orange: #9b2c13;
$indigo: #AE67FA;
$tangerine: #F49867;
$cobalt: #81AFDD;
$prussian-blue: #052D56;
$salmon: #FF8A71;
$electric: #71E5FF;