// Codes By Mahdi Tasha
// For Debugging
body > section {display: none;}

// Default Styles
img {pointer-events: none;}
button {cursor: pointer;transition: .3s;}
a {text-decoration: none;}
ul {list-style: none;}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #040C18;
}