// Codes By Mahdi Tasha
@use "colors";

@mixin titles-styles($font-size) {
  background: linear-gradient(89.97deg, colors.$indigo 1.84%, colors.$tangerine 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 800;
  font-size: $font-size;
  line-height: 75px;
}

@mixin paragraph-styles($font-size) {
  font-weight: 400;
  font-size: $font-size;
  line-height: 27px;
  color: colors.$cobalt;
}

@mixin line-in-before-styles {
  content: '';
  width: 40px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(103.22deg, colors.$indigo -13.86%, colors.$tangerine 99.55%), #FFFFFF;
  transform: translateY(-700%);
}

@mixin primary-link-styles {
  color: colors.$tangerine;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

@mixin subtitle-styles($font-size) {
  font-weight: 800;
  font-size: $font-size;
  color: white;
  position: relative;
  white-space: nowrap;
  margin-right: 4rem;

  &:before {
    @include line-in-before-styles;
  }
}